.comment {
    border: 2px solid rgb(128, 147, 206);
    background-color: rgb(195, 220, 236);
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    display: grid;
    grid-template: 0.1fr 0.5fr / 0.5fr 1fr 1fr 1fr;
    grid-template-areas: 
        'vote user user delbutton'
        'vote body body body';
    min-height: 100px
}

.vote {
    grid-area: vote;
    height: 5vh;
}

.body {
    grid-area: body;
}

.user {
    grid-area: user;
}

.delbutton {
    grid-area: delbutton;
}
